{% extends 'layout_1.html' %}
{% load staticfiles %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {% include 'partials/breadcrumb.html' with page_name="Calendar" %}

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h4 class="box-title">Request Type</h4>
                        </div>
                        <div class="box-body">
                            <!-- the events -->
                            {% if request.session.is_manager %}
                            <select name="request_type" class="form-control">
                                {% for request_type in request_types %}
                                <option value="{{ request_type.pk }}">
                                    {{ request_type.name}}
                                </option>
                                {% endfor %}
                            </select>
                            {% else %}
                            <select name="request_type" class="form-control">
                                {% for request_type in request.user.request_types %}
                                <option value="{{ request_type.pk }}">
                                    {{ request_type.name}}
                                </option>
                                {% endfor %}
                            </select>
                            {% endif %}
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /. box -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h4 class="box-title">Labels</h4>
                        </div>
                        <div class="box-body">
                            <!-- the events -->
                            <div id="calendar-labels">
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="box box-primary">
            <div class="box-body no-padding">
              <!-- THE CALENDAR -->
              <div id="calendar"></div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js">
  </script>
<script src="{% static 'plugins/fullcalendar/fullcalendar.min.js' %}"></script>
<!-- Page specific script -->
<script>
 function loadLabels(users){
     $('#calendar-labels').empty();
     users.forEach(function(user) {
         var label = "<div class='external-event "+ user.color_class +"'>" + user.name + "</div>";
         $('#calendar-labels').append(label);
     })
 }
 $(function reloadCalendar() {

     /* initialize the calendar
        -----------------------------------------------------------------*/
     $('#calendar').fullCalendar({
         header: {
             left: 'prev,next today',
             center: 'title',
             right: 'month,agendaWeek,agendaDay'
         },
         buttonText: {
             today: 'today',
             month: 'month',
             week: 'week',
             day: 'day'
         },
         //Random default events
         events: function(start, end, timezone, callback) {
             console.log("working");
             var data = {
                 "department": {{ department.id }},
                 "request_type": $("select[name='request_type']").val()
             }
             $.post("/calendar/api/", data)
              .done(function(data) {
                  loadLabels(data.users);
                  var events = [];
                  data.events.forEach(function(event){
                      events.push({
                          title: event.title,
                          start: new Date(event.start),
                          end: new Date(event.end),
                          backgroundColor: event.backgroundColor,
                          borderColor: event.backgroundColor
                      })
                  })
                  callback(events)
              });
         },
         editable: false,
         droppable: false,
     });
 });

 $("select[name='request_type']").change(function() {
     $('#calendar').fullCalendar('refetchEvents');
 })
</script>

{% endblock %}
