{% extends 'layout_1.html' %}
{% load staticfiles %}

{% block styles %}
  {{ block.super }}
<link rel="stylesheet"
      href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {% include 'partials/breadcrumb.html' with page_name='Approved Requests' %}

    <!-- Main content -->

    <!-- Main content -->
    <section class="content">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="datatable" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Request Type</th>
                  <th>Description</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Status</th>
                </tr>
                </thead>
                {% if request.session.is_manager %}
                  {% include 'requests/partials/manager_approved_requests.html' with requests=manager_approved_requests %}
                {% else %}
                  {% include 'requests/partials/employee_approved_requests.html' with requests=employee_approved_requests %}
                {% endif %}
                <tfoot>
                <tr>
                  <th>Request Type</th>
                  <th>Description</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Status</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
  </div>
{% endblock %}


{% block scripts %}
  {{ block.super }}
  <!-- DataTables -->
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}">
  </script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}">
  </script>
  <script>
    $(function () {
    $('#datatable').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "columnDefs": [
            {
                "targets": 1,
                "order": "asc|desc"
            },
            {
                "targets": [4],
                "orderable": false
            }
        ]
    });
    });
  </script>

{% endblock %}
